/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/************Section filtres pour le filtrage de la gallery par catégorie de projets**************/
#Filtres {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#Filtres div {
  margin-bottom: 30px;
  border: 1px solid #1d6154;
  padding: 5px;
  padding-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 140px;
  height: 25px;
  text-align: center;
  font-size: 12px;
}
#Filtres div:hover {
  background-color: #1d6154;
  color: white;
}
/************Fin Section filtres pour le filtrage de la gallery par catégorie de projets**************/

/*****************Page de connexion********************/
.bodylogin {
  background-color: #f3f3f3;
}
/*Zone de connexxion*/
.titrelogin {
  color: #1d6154;
}
#zone {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  padding-top: 20px;
}
/* Bordure du formulaire */
form {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#zone h1 {
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}
form a {
  color: black;
  padding-top: 10px;
  text-align: center;
}
/* Taille inputs texte et mot de passe */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Style pour tous les boutons */
input[type="#submitConnection"] {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 70px;
}

input[type="#submitConnection"]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}
/*footer login*/
.baslogin {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  margin-top: 450px;
}
.hidden {
  display: none;
}
#errormessage {
  color: red;
}
.barre_hidden {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 8px;
  width: auto;
  height: 30px;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.button_hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.edit_modifier {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 30px;
}

/***************Fin page de connexion****************/
/******design mode édition modale *****************/
.modal {
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 550px;
  top: 580px;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.08);*/
  border-radius: 10px;
  box-shadow: none;
  background-color: transparent;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 600px;
  height: 600px;
  max-width: calc(100vw -20px);
  max-height: calc(100vh -20px);
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
}
.modaleImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 60px;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/*css icone de la poubelle*/
.fa-trash-can {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: black;
  color: white;
  padding-top: 5px;
  top: -80px;
  right: 10px;
  cursor: pointer;
}
/*css fermeture modale x*/

.x-modal {
  display: flex;
  justify-content: flex-end;
  margin-top: -65px;
}
.modale-content {
  display: none;
}
/*trait de séparation*/
hr {
  color: blue;
  margin-bottom: 30px;
}
/*lien pour ouvrir la deuxième modale*/
.ajoutPhotoButton {
  background-color: #1d6154;
  width: 220px;
  height: 100px;
  font-size: large;
  border-radius: 60px;
  text-align: center;
  margin-top: 100px;
  padding: 5px;
  color: white;
}

/*.modale-ajoutElement {
  position: absolute;
  top: 50%; /* Centrer verticalement */
/* left: 50%; /* Centrer horizontalement */
/*transform: translate(-50%, -50%); /* Ajustement pour centrer correctement */
/*background-color: white;
  border-radius: 10px;
  padding: 30px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;
  width: 600px;
  height: 600px;
}*/

.titremodale {
  color: black;
  font-weight: lighter;
  padding-top: 15px;
}
/*css deuxième modale fleche+croix*/
.modalHaut {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-right: -30px;
}

/**deuxieme modale**/
.titre2modale {
  color: black;
}
/*grande div conteneur qui contient tous les éléments*/
.ajout-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #add8e6;
  width: 450px;
  margin-left: 10px;
}
/*position texte div conteneur image*/
.ajout-image p {
  color: grey;
  margin-bottom: 20px;
  margin-top: 15px;
}
.div-img {
  width: 200px;
  height: 205px;
  margin-bottom: 10px;
}
/*css icone montagne design origine avant chargement photo*/
.div-img,
.fa-image {
  margin-top: -80px;
}
.fa-image {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

/*css bouton d'ajout de la photo*/
.btn-ajoutphotonew {
  color: #77b5f2;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #a9cbd7;
  border-radius: 60px;
  width: 180px;
  height: 30px;
  font-size: medium;
  margin-bottom: 10px;
}
.elements-a-masquer {
  position: relative;
  z-index: 1;
}
/*css pour les champs de renseignements*/
#modale2 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
#modale2 form label {
  display: flex;
  justify-items: flex-start;
}
.champ {
  width: 430px;
  color: black;
  margin-top: 15px;
}

input[type="text"],
select.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

hr {
  color: blue;
  margin-top: 10px;
}
/*css bouton de validation à la fin*/
#boutonValidation {
  color: white;
  background-color: grey;
  width: 180px;
  padding: 10px;
  font-size: medium;
  border-radius: 60px;
  text-align: center;
  margin-left: 30px;
  border: none;
  display: inline-block; /*régle les problème de hauteurs design css*/
  line-height: 20px;
}
.valider {
  background-color: green;
  color: white;
}
/*pour assombrir l'arrière-plan en mode connexion*/
.dim-background {
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
}
